* {
  box-sizing: border-box;
}

.clock-form,
.moscow-time {
  display: flex;
  width: 70%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.clock-form-name,
.clock-form-time {
  margin-left: auto;
  margin-right: auto;
}

.input-button-add {
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.clock-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 70%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.clock-item {
  display: flex;
  width: 15%;
  background-color: rgb(241, 240, 240);
  border: 1px solid rgb(199, 198, 198);
  margin-right: 10px;
}

.clock-item:first-child {
  margin-left: 0;
}

.clock-info {
  margin-left: 10%;
}

.input-button-delete {
  margin-left: 15%;
}
